* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #ffffff;
    --Milky-color: rgba(255, 255, 255, 0.774);
    --header-bg: #1B1B1B;
    --li-hover-bg: #FCB900;
    --archive: #FFAB2A;
}

html {
    direction: rtl;
}

header {
    width: 100%;
    height: 180px;
    background-color: var(--header-bg);
}

.logo-section {
    width: 100%;
    height: 110px;
    padding: 0 50px;
    position: relative;
}

.header-right-logo {
    position: absolute;
    top: 30px;
    right: 50px;
}

.header-left-logo {
    position: absolute;
    top: 20px;
    left: 50px;
}

.menu-section {
    width: 100%;
    height: 70px;
    position: relative;
}

.menu {
    padding-top: 10px;
    margin-right: 110px;
}

.menu li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}

.menu li:hover {
    background-color: var(--li-hover-bg);
}

.menu li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}


.menu li a i {
    margin-right: 5px;
    font-size: 15px;
}

#search-btn {
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    left: 50px;
    background: none;
    top: 22px;
}

#hamburger-btn {
    right: 50px;
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    background: none;
    top: 22px;
    display: none;
}

@media only screen and (max-width: 1200px) {
    .menu {
        display: none;
    }
    #hamburger-btn {
        display: block;
    }
    .header-left-logo {
        width: 360px;
        height: 70px;
        top: 30px;
    }
}

@media only screen and (max-width: 990px) {
    header {
        width: 100%;
    }
    .logo-section {
        width: 680px;
        left: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .menu-section {
        width: 680px;
        left: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .header-left-logo {
        left: 0;
    }
    .header-right-logo {
        right: 0;
    }
    #search-btn {
        left: 0;
    }
    #hamburger-btn {
        right: 0;
    }
}

@media only screen and (max-width: 680px) {
    header {
        height: 280px;
        width: 100%;
    }
    .logo-section {
        width: 100%;
        margin: 0;
        height: 210px;
    }
    .menu-section {
        width: 100%;
    }
    .header-right-logo {
        width: calc(100% - 80px);
        height: 80px;
        margin: 0 40px 0 40px;
    }
    .header-left-logo{
        width: calc(100% - 80px);
        height: 80px;
        margin: 0 40px 0 40px;
        top: 110px;
    }
    #search-btn {
        left: 30px;
    }
    #hamburger-btn {
        right: 30px;
    }
}

.waterfall-menu-container {
    width: 100%;
    padding: 0 0 10px 0;
    display: none;
    background-color: var(--header-bg);
}

.waterfall-menu-container li {
    width: calc(100% - 100px);
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 50px;
}

.waterfall-menu-container li a {
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
}

.waterfall-menu-container li a i {
    margin-right: 3px;
}

.waterfall-menu-container li:hover {
    background-color: var(--li-hover-bg);
}

.toggle {
    display: block;
}

.gallery-container {
    width: 100%;
    height: 520px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.grid-system-gallery {
    width: calc(100% - 100px);
    height: 510px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas:
        "item-1 item-1 item-2 item-3"
        "item-4 item-5 item-6 item-6";
}

div[class~="item"] {
    position: relative;
    background-color: gray;
}

.item-1 {
    grid-area: item-1;
    background-image: url("img/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-2 {
    grid-area: item-2;
    background-image: url("img/4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-3 {
    grid-area: item-3;
    background-image: url("img/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-4 {
    grid-area: item-4;
    background-image: url("img/6.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-5 {
    grid-area: item-5;
    background-image: url("img/7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-6 {
    grid-area: item-6;
    background-image: url("img/8.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item h3 {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 18px;
}

.item h3 a {
    text-decoration: none;
    color: var(--Milky-color);
}

.cover {
    width: 100%;
    height: 100%;
    background: rgb(21,17,17);
    background: linear-gradient(0deg, rgba(21,17,17,1) 0%, rgba(255,73,73,0) 100%);
}

.container {
    width: 100%;
    min-height: 1500px;
    padding: 0 80px 0 80px;
    position: relative;
}

.right-content {
    width: 765px;
    position: absolute;
    top: 0;
}

.left-content {
    width: 355px;
    position: absolute;
    top: 0;
    left: 80px;
}

.right-side-bar {
    width: 350px;
    min-height: 1370px;
    border-radius: 10px;
    float: right;
    overflow: hidden;
    background: rgb(43,42,42);
    box-shadow: 0 0 15px #c9c9c9;
    background: linear-gradient(0deg, rgba(43,42,42,1) 0%, rgba(17,17,17,1) 50%, rgba(43,42,42,1) 100%);
}

.center-side-bar {
    width: 350px;
    min-height: 1370px;
    border-radius: 10px;
    margin-right: 65px;
    float: right;
    overflow: hidden;
    background: rgb(247,247,247);
    box-shadow: 0 0 15px #c9c9c9;
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(219,219,219,1) 50%, rgba(247,247,247,1) 100%);
}

.right-side-bar h3 , .center-side-bar h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 24px;
    width: calc(100% - 90px);
    float: left;
}

.right-side-bar h3 {
    color: #DDDBDB;
}

.right-side-bar p {
    color: #9e9e9e;
}

.center-side-bar h3 {
    color: #4D4D4D;
}

.archive-btn {
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    width: 65px;
    height: 28px;
    color: #2B2A2A;
    font-size: 17px;
    text-align: left;
    position: relative;
    padding-left: 5px;
    background-color: var(--archive);
}

.archive-btn:hover {
    color: var(--white);
}

.hr-right , .hr-center {
    background-color: #B3A7A7;
    border: none;
    outline: none;
    height: 4px;
}

.right-side-bar button i , .center-side-bar button i {
    float: right;
}

.archive-btn i {
    position: absolute;
    right: 5px;
    top: 6px;
}

.right-side-bar img , .center-side-bar img {
    margin-top: 20px;
    width: 100%;
}

.right-side-bar button {
    margin-right: 10px;
}

.center-side-bar button {
    margin-right: 145px;
}

.center-side-bar h2 , .right-side-bar h2 {
    margin-top: 15px;
    padding: 0 15px;
}

.center-side-bar h2 {
    color: #4D4D4D;
}

.right-side-bar h2 {
    color: var(--white);
}

.left-side-bar {
    width: 355px;
    min-height: 100px;
    border-radius: 10px;
    float: right;
}

.social-media {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 0 15px #c9c9c9;
    background: rgb(255,172,44);
    background: linear-gradient(90deg, rgba(255,172,44,1) 0%, rgba(255,235,141,1) 100%);
}

.icons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.left-side-bar h2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    font-size: 22px;
    margin-top: 40px;
    font-weight: 700;
    background: rgb(32,111,166);
    background: linear-gradient(90deg, rgba(32,111,166,1) 0%, rgba(2,39,66,1) 100%);
}

.news {
    width: 100%;
    padding-right: 15px;
    margin-top: 30px;
    position: relative;
}

.news img {
    width: 80px;
    height: 60px;
    margin-top: 0;
}

.news h3 {
    font-size: 18px;
    margin: 0;
    text-align: right;
    white-space: wrap;
}

.right-side-bar .news span {
    color: #f2f2f2;
    font-size: 14px;
}

.right-side-bar .news span i {
    float: right;
    margin-left: 4px;
}

.center-side-bar .news span {
    color: #676767;
    font-size: 14px;
}

.center-side-bar .news span i {
    float: right;
    margin-left: 4px;
}

form {
    width: 100%;
    margin-top: 30px;
}

table {
    width: 100%;
    margin-top: 30px;
}

.news section {
    width: calc(100% - 110px);
}

table th {
    color: var(--white);
    padding: 3px 0;
    background-color: #4B4B4B;
}

td {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

table tr:not(:first-child) {
    height: 55px;
}

table tr td:nth-child(2) {
    border-top: 1px solid #d4d4d4;
    background-color: var(--white);
}

table tr td:first-child , table tr td:last-child {
    background: rgb(221,222,244);
    background: linear-gradient(45deg, rgba(221,222,244,1) 0%, rgba(153,153,153,1) 100%);
}

table tr td:last-child {
    border-right: 3px solid #EB9812;
}

table tr td:first-child {
    border-left: 4px solid #d4d4d4;
}

table tr td:nth-child(2):hover {
    background-color: rgb(216, 217, 217);
}

input[type="text"] {
    width: 100%;
    height: 45px;
    border: none;
    margin: 10px 0;
    background-color: #ECEAEA;
}

form label {
    font-size: 17px;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 255px;
    margin-top: 40px;
    position: relative;
    background-color: var(--header-bg);
}

.right-footer {
    width: 50%;
    padding-top: 30px;
    padding-right: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.footer-description-top {
    font-size: 17px;
    font-weight: 600;
    color: var(--white);
}

.footer-description-bottom {
    margin-top: 30px;
    color: var(--white);
}

.left-footer {
    width: 50%;
    position: absolute;
    top: 0;
    right: 50%;
    padding-top: 10px;
}

.left-footer img:first-child {
    margin-right: 40px;
}

.left-footer img:last-child {
    margin-right: 60px;
}

.footer-menu {
    width: 100%;
    position: absolute;
    top: 215px;
    right: 0;
    text-align: center;
}

.footer-menu ul li {
    padding: 8px 0;
    margin: 0 19px;
    cursor: pointer;
    color: var(--white);
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
}

.footer-menu ul li:hover {
    color: var(--archive);
}

.container .right-side-bar h3.right-title {
    width: 100%;
}

.archive-btn:hover i {
    color: var(--white);
}

.container .center-side-bar h3.center-title {
    width: 100%;
}

.para-right , .para-center {
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px;
    margin-bottom: 50px;
    text-align: justify;
    color: var(--Milky-color) !important;
}

.right-link , .left-link {
    font-size: 14px;
    color: #807E7E;
    text-decoration: none;
}

.para-center {
    color: #000000 !important;
}

.article-author {
    margin: 20px 0;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 700;
}

.right-side-bar .article-right .article-author {
    color: var(--Milky-color);
}

.center-side-bar .article-center .article-author {
    color: #676767;
}

.article-author i {
    margin-left: 5px;
}

.article-author span:last-child {
    margin-right: 30px;
}

.news span:last-child {
    margin-right: 30px;
}

.author-info {
    position: absolute;
    top: 52px;
    right: 103px;
}

.telegram {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 460px) {
    footer {
        height: 910px !important;
        margin-top: 50px;
    }
    .container {
        min-height: 4590px !important;
    }
    .right-side-bar {
        height: 1620px !important;
    }
    .center-side-bar {
        height: 1620px !important;
    }
    .left-side-bar {
        margin-top: 165px;
    }
    /* .left-content {
        top: 3225px !important;
    } */
    .footer-menu {
        top: 515px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
        height: 1570px;
    }
    .right-content {
        width: 600px;
    }
    .right-side-bar {
        width: 270px;
        height: 1460px;
    }
    .center-side-bar {
        width: 270px;
        height: 1460px;
        margin-right: 59px;
    }
    .left-content {
        width: 270px;
    }
    .left-side-bar {
        width: 270px;
    }
    .news {
        margin-top: 40px;
    }
    .author-info {
        top: 60px;
    }
}

@media only screen and (max-width: 990px){
    .grid-system-gallery {
        width: 680px;
    }
    .gallery-container {
        display: flex;
        justify-content: center;
    }
    .container {
        height: 2770px;
    }
    .right-content {
        width: 600px;
        left: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .right-side-bar {
        width: 270px;
    }
    .center-side-bar {
        width: 270px;
    }
    .left-content {
        width: 600px !important;
        top: 1585px;
        left: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .left-side-bar {
        width: 100%;
    }
    footer {
        height: 320px;
    }
    footer img {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 680px){
    .grid-system-gallery {
        width: calc(100% - 16px);
        margin: 0 8px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 250px);
        grid-template-areas:
            "item-1"
            "item-2"
            "item-3"
            "item-4"
            "item-5"
            "item-6";
    }
    .gallery-container {
        display: flex;
        justify-content: center;
    }
    footer {
        width: 100%;
        height: 590px;
    }
    .right-footer {
        width: 100%;
        text-align: center;
        top: 0;
        right: 0;
        padding: 30px 0;
    }
    .right-footer p {
        margin: 0 !important;
    }
    .left-footer {
        width: 100%;
        text-align: center;
        top: 120px;
        right: 0;
    }
    .footer-menu {
        width: 100%;
        top: 300px;
        right: 0;
    }
    .footer-menu li {
        width: 100%;
    }
    .container {
        width: calc(100% - 16px);
        margin: 1050px 8px 8px 0;
    }
}

@media only screen and (max-width: 500px){
    footer {
        width: 100%;
        height: 750px;
    }
    .right-footer {
        width: 100%;
        text-align: center;
        top: 0;
        right: 0;
        padding: 30px 0;
    }
    .right-footer p {
        margin: 0 !important;
        font-size: 14px;
    }
    .right-footer h3 {
        font-size: 14px;
    }
    .left-footer {
        width: 100%;
        text-align: center;
        top: 120px;
        right: 0;
        padding: 0;
    }
    .left-footer img {
        margin: 0 !important;
    }
    .footer-menu {
        width: 100%;
        top: 450px;
        right: 0;
    }
    .footer-menu li {
        width: 100%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 570px) {
    .container {
        width: calc(100% - 16px);
        min-height: 4300px;
    }
    .right-content {
        width: calc(100% - 16px);
        margin-top: 40px;
    }
    .right-side-bar {
        width: 100%;
        height: 1490px;
    }
    .center-side-bar {
        width: 100%;
        margin: 20px 0;
        height: 1490px;
    }
    .telegram {
        width: calc(100% - 30px) !important;
        margin: 0 15px 0 0;
    }
    .left-content {
        width: calc(100% - 46px) !important;
        top: 3055px !important;
        left: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .left-side-bar {
        width: 100%;
    }
    footer {
        height: 850px;
    }
    footer .right-footer h3 {
        font-size: 18px;
    }
    footer .right-footer p {
        font-size: 17px;
        padding: 0 10px;
    }
    footer .left-footer {
        top: 150px;
        height: 350px;
        text-align: center;
    }
    footer section.left-footer img {
        padding: 10px 30px;
    }
    footer .footer-menu {
        top: 500px;
    }
}


